<div class="home-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Aplicación de Superhéroes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="content-container">
        <p>
          Te permite gestionar una lista de superhéroes. Puedes ver, añadir,
          editar y eliminar superhéroes de la lista.
        </p>
        <p>
          El proyecto está desarrollado en Angular y se ha utilizado Angular
          Material para los estilos.
        </p>
        <p>
          Para empezar, puedes añadir un superhéroe en la sección "Listado".
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
